.is_fix {
    position: fixed;
    bottom: 35px;
    right: 20px;
}

.padding {
    padding: 50px 50px;
}

.add-margin {
    margin-bottom: 10px !important;
}

.image {
    margin-top: 0px !important;
}

.list_training {
    margin: 10px 10px;
    width: 100px;
    height: 70px;
    text-align: center;
    box-shadow: 9px 10px 20px #ccc;
    cursor: pointer;
}
.list_training:hover{
    box-shadow: 4px 5px 9px #ccc;
}
#lola{
    position: relative;
    top: 30%;
}
