.rounded {
    border-radius: 50px !important;
    border-color: #DADADA;
}

.input_size {
    width: 400px !important;
}


.image {
    margin-top: 100px !important;
}

.column {
    max-width: 450px;
}

#root>.grid {
    height: 100%;
}

.ption{
    position: absolute;
    bottom: 45%;
    left: 45%;
    color: gray;
}