.rounded {
    border-radius: 50px !important;
    border-color: #DADADA;
}

.input_size {
    width: 400px !important;
}

.ui.grid {
    padding-top: 9rem !important;
}

.column {
    max-width: 450px;
}

#root>.grid {
    height: 100%;
}

.ption {
    color: gray;
}